.actors-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.actor-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-right: 10px;
}
.cart-container{
    text-align: center;
    margin-top: 10px;
}