.actors{
    background-color: #dedede;
    text-align: center;
    border-radius: 10px;
}
.actors img {
    width: 75%;
    border-radius: 20px;
    margin-top: 10px;
}
.add-btn{
    font-weight: 600;
    color: #333;
    background-color: #36d3a1;
    width: 140px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    text-transform: capitalize;
    margin-bottom: 15px;
    cursor: pointer;
}